<a href="https://colab.research.google.com/github/AKASH4671/AI-Driven-Credit-Risk-Prediction-and-Crisis-Resilience-Analysis/blob/main/03_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Mount Google Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Import libraries**

In [2]:
import pandas as pd
import numpy as np

**Load dataset**

In [4]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Finance Projects/AI-Driven-Credit-Risk-Prediction-and-Crisis-Resilience-Analysis/data/cleaned data/lendingclub_model_ready.csv'
df = pd.read_csv(file_path, low_memory=False)
df
# Show all columns
# print("Total Columns:", len(df.columns))
# df.columns.tolist()

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,...,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_default
0,3600.0,3600.0,36 months,13.99,123.03,C,10+ years,MORTGAGE,55000.0,Not Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
1,24700.0,24700.0,36 months,11.99,820.28,C,10+ years,MORTGAGE,65000.0,Not Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
2,20000.0,20000.0,60 months,10.78,432.66,B,10+ years,MORTGAGE,63000.0,Not Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
3,10400.0,10400.0,60 months,22.45,289.91,F,3 years,MORTGAGE,104433.0,Source Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11950.0,11950.0,36 months,13.44,405.18,C,4 years,RENT,34000.0,Source Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345345,18000.0,18000.0,60 months,9.49,377.95,B,5 years,OWN,130000.0,Not Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
1345346,29400.0,29400.0,60 months,13.99,683.94,C,9 years,MORTGAGE,180792.0,Not Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
1345347,32000.0,32000.0,60 months,14.49,752.74,C,3 years,MORTGAGE,157000.0,Source Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
1345348,16000.0,16000.0,60 months,12.79,362.34,C,10+ years,RENT,150000.0,Not Verified,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
1345349,24000.0,24000.0,60 months,14.49,564.56,C,6 years,RENT,110000.0,Not Verified,...,NaN,Cash,Y,Mar-2019,ACTIVE,Mar-2019,10000.0,44.82,1.0,1

**Drop Irrelevant or High-Null Columns**

In [5]:
# List of columns to drop
drop_cols = [
    # IDs, URLs
    'id', 'member_id', 'url', 'desc', 'title', 'zip_code',

    # Dates and post-loan info
    'issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d',
    'earliest_cr_line', 'sec_app_earliest_cr_line',

    # Hardship and settlement
    'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status',
    'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date',
    'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
    'hardship_loan_status', 'orig_projected_additional_accrued_interest',
    'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
    'settlement_status', 'settlement_date', 'settlement_amount',
    'settlement_percentage', 'settlement_term', 'debt_settlement_flag',
    'debt_settlement_flag_date',

    # Co-applicant info
    'revol_bal_joint', 'annual_inc_joint', 'dti_joint', 'verification_status_joint',
    'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_inq_last_6mths',
    'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
    'sec_app_open_act_il', 'sec_app_num_rev_accts',
    'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med',
    'sec_app_mths_since_last_major_derog'
]

# Only drop columns that exist in the current DataFrame
drop_cols = [col for col in drop_cols if col in df.columns]
df.drop(columns=drop_cols, inplace=True)
print("Shape after dropping:", df.shape)

Shape after dropping: (1345350, 82)

In [6]:
# Show columns still having > 90% missing values
high_nulls = df.isnull().mean() * 100
high_nulls[high_nulls > 90].sort_values(ascending=False)

Series([], dtype: float64)

In [7]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345350 entries, 0 to 1345349
Data columns (total 82 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   loan_amnt                       1345350 non-null  float64
 1   funded_amnt                     1345350 non-null  float64
 2   term                            1345350 non-null  object
 3   int_rate                        1345350 non-null  float64
 4   installment                     1345350 non-null  float64
 5   grade                           1345350 non-null  object
 6   emp_length                      1266834 non-null  object
 7   home_ownership                  1345350 non-null  object
 8   annual_inc                      1345350 non-null  float64
 9   verification_status             1345350 non-null  object
 10  purpose                         1345350 non-null  object
 11  dti                             1344976 non-null  float64
 12  delinq_2yrs                     1345350 non-null  float64
 13  fico_range_low                  1345350 non-null  float64
 14  fico_range_high                 1345350 non-null  float64
 15  inq_last_6mths                  1345349 non-null  float64
 16  mths_since_last_delinq          666589 non-null   float64
 17  mths_since_last_record          228564 non-null   float64
 18  open_acc                        1345350 non-null  float64
 19  pub_rec                         1345350 non-null  float64
 20  revol_bal                       1345350 non-null  float64
 21  revol_util                      1344493 non-null  float64
 22  total_acc                       1345350 non-null  float64
 23  last_fico_range_high            1345350 non-null  float64
 24  last_fico_range_low             1345350 non-null  float64
 25  acc_now_delinq                  1345350 non-null  float64
 26  tot_coll_amt                    1277823 non-null  float64
 27  tot_cur_bal                     1277823 non-null  float64
 28  open_acc_6m                     537635 non-null   float64
 29  open_act_il                     537636 non-null   float64
 30  open_il_12m                     537636 non-null   float64
 31  open_il_24m                     537636 non-null   float64
 32  mths_since_rcnt_il              523419 non-null   float64
 33  total_bal_il                    537636 non-null   float64
 34  il_util                         465047 non-null   float64
 35  open_rv_12m                     537636 non-null   float64
 36  open_rv_24m                     537636 non-null   float64
 37  max_bal_bc                      537636 non-null   float64
 38  all_util                        537583 non-null   float64
 39  total_rev_hi_lim                1277823 non-null  float64
 40  inq_fi                          537636 non-null   float64
 41  total_cu_tl                     537635 non-null   float64
 42  inq_last_12m                    537635 non-null   float64
 43  acc_open_past_24mths            1298069 non-null  float64
 44  avg_cur_bal                     1277801 non-null  float64
 45  bc_open_to_buy                  1284205 non-null  float64
 46  bc_util                         1283436 non-null  float64
 47  chargeoff_within_12_mths        1345294 non-null  float64
 48  delinq_amnt                     1345350 non-null  float64
 49  mo_sin_old_il_acct              1239774 non-null  float64
 50  mo_sin_old_rev_tl_op            1277822 non-null  float64
 51  mo_sin_rcnt_rev_tl_op           1277822 non-null  float64
 52  mo_sin_rcnt_tl                  1277823 non-null  float64
 53  mort_acc                        1298069 non-null  float64
 54  mths_since_recent_bc            1285127 non-null  float64
 55  mths_since_recent_bc_dlq        319029 non-null   float64
 56  mths_since_recent_inq           1171277 non-null  float64
 57  mths_since_recent_revol_delinq  449976 non-null   float64
 58  num_accts_ever_120_pd           1277823 non-null  float64
 59  num_actv_bc_tl                  1277823 non-null  float64
 60  num_actv_rev_tl                 1277823 non-null  float64
 61  num_bc_sats                     1289509 non-null  float64
 62  num_bc_tl                       1277823 non-null  float64
 63  num_il_tl                       1277823 non-null  float64
 64  num_op_rev_tl                   1277823 non-null  float64
 65  num_rev_accts                   1277822 non-null  float64
 66  num_rev_tl_bal_gt_0             1277823 non-null  float64
 67  num_sats                        1289509 non-null  float64
 68  num_tl_120dpd_2m                1227947 non-null  float64
 69  num_tl_30dpd                    1277823 non-null  float64
 70  num_tl_90g_dpd_24m              1277823 non-null  float64
 71  num_tl_op_past_12m              1277823 non-null  float64
 72  pct_tl_nvr_dlq                  1277669 non-null  float64
 73  percent_bc_gt_75                1283793 non-null  float64
 74  pub_rec_bankruptcies            1344653 non-null  float64
 75  tax_liens                       1345311 non-null  float64
 76  tot_hi_cred_lim                 1277823 non-null  float64
 77  total_bal_ex_mort               1298069 non-null  float64
 78  total_bc_limit                  1298069 non-null  float64
 79  total_il_high_credit_limit      1277823 non-null  float64
 80  disbursement_method             1345350 non-null  object
 81  loan_default                    1345350 non-null  int64
dtypes: float64(74), int64(1), object(7)
memory usage: 841.7+ MB

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,loan_default
0,3600.0,3600.0,36 months,13.99,123.03,C,10+ years,MORTGAGE,55000.0,Not Verified,...,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,Cash,0
1,24700.0,24700.0,36 months,11.99,820.28,C,10+ years,MORTGAGE,65000.0,Not Verified,...,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,Cash,0
2,20000.0,20000.0,60 months,10.78,432.66,B,10+ years,MORTGAGE,63000.0,Not Verified,...,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,Cash,0
3,10400.0,10400.0,60 months,22.45,289.91,F,3 years,MORTGAGE,104433.0,Source Verified,...,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,Cash,0
4,11950.0,11950.0,36 months,13.44,405.18,C,4 years,RENT,34000.0,Source Verified,...,100.0,100.0,0.0,0.0,16900.0,12798.0,9400.0,4000.0,Cash,0

In [8]:
# Missing %
missing_percent = df.isnull().mean() * 100
missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)
missing_percent

mths_since_last_record            83.010815
mths_since_recent_bc_dlq          76.286543
mths_since_recent_revol_delinq    66.553239
il_util                           65.433010
mths_since_rcnt_il                61.094213
all_util                          60.041402
inq_last_12m                      60.037537
open_acc_6m                       60.037537
total_cu_tl                       60.037537
open_il_12m                       60.037462
total_bal_il                      60.037462
max_bal_bc                        60.037462
open_rv_24m                       60.037462
inq_fi                            60.037462
open_il_24m                       60.037462
open_rv_12m                       60.037462
open_act_il                       60.037462
mths_since_last_delinq            50.452373
mths_since_recent_inq             12.938863
num_tl_120dpd_2m                   8.726577
mo_sin_old_il_acct                 7.847475
emp_length                         5.836102
pct_tl_nvr_dlq                     5.030735
avg_cur_bal                        5.020924
mo_sin_rcnt_rev_tl_op              5.019363
mo_sin_old_rev_tl_op               5.019363
num_rev_accts                      5.019363
total_il_high_credit_limit         5.019289
tot_hi_cred_lim                    5.019289
num_tl_op_past_12m                 5.019289
num_op_rev_tl                      5.019289
num_tl_90g_dpd_24m                 5.019289
num_tl_30dpd                       5.019289
tot_cur_bal                        5.019289
total_rev_hi_lim                   5.019289
tot_coll_amt                       5.019289
num_actv_rev_tl                    5.019289
num_il_tl                          5.019289
num_actv_bc_tl                     5.019289
num_rev_tl_bal_gt_0                5.019289
num_bc_tl                          5.019289
mo_sin_rcnt_tl                     5.019289
num_accts_ever_120_pd              5.019289
bc_util                            4.602074
percent_bc_gt_75                   4.575538
bc_open_to_buy                     4.544914
mths_since_recent_bc               4.476382
num_bc_sats                        4.150667
num_sats                           4.150667
total_bal_ex_mort                  3.514401
acc_open_past_24mths               3.514401
total_bc_limit                     3.514401
mort_acc                           3.514401
revol_util                         0.063701
pub_rec_bankruptcies               0.051808
dti                                0.027799
chargeoff_within_12_mths           0.004162
tax_liens                          0.002899
inq_last_6mths                     0.000074
dtype: float64

**Impute Numerical Features**

In [9]:
# Fill numeric columns with median
num_cols = df.select_dtypes(include=['int64', 'float64']).columns

for col in num_cols:
    if df[col].isnull().sum() > 0:
        median_val = df[col].median()
        df[col].fillna(median_val, inplace=True)

/tmp/ipython-input-9-992406301.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)

**Impute Categorical Features**

In [10]:
# Fill categorical columns with mode
cat_cols = df.select_dtypes(include=['object']).columns

for col in cat_cols:
    if df[col].isnull().sum() > 0:
        mode_val = df[col].mode()[0]
        df[col].fillna(mode_val, inplace=True)

/tmp/ipython-input-10-780785695.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_val, inplace=True)

In [11]:
# Check if anything remains null
print("Remaining nulls:", df.isnull().sum().sum())

Remaining nulls: 0

**Encode Categorical Variables**

In [12]:
# List of Categorical Columns
df.select_dtypes(include='object').nunique().sort_values()

term                    2
disbursement_method     2
verification_status     3
home_ownership          6
grade                   7
emp_length             11
purpose                14
dtype: int64

In [13]:
# Encode Using One-Hot
df_encoded = pd.get_dummies(df, drop_first=True)

In [18]:
# Preview Encoded Data
print("Encoded shape:", df_encoded.shape)
df_encoded.head()

Encoded shape: (1345350, 113)

,loan_amnt,funded_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,...,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,disbursement_method_DirectPay
0,3600.0,3600.0,13.99,123.03,55000.0,5.91,0.0,675.0,679.0,1.0,...,False,False,False,False,False,False,False,False,False,False
1,24700.0,24700.0,11.99,820.28,65000.0,16.06,1.0,715.0,719.0,4.0,...,False,False,False,False,False,False,True,False,False,False
2,20000.0,20000.0,10.78,432.66,63000.0,10.78,0.0,695.0,699.0,0.0,...,False,False,False,False,False,False,False,False,False,False
3,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,695.0,699.0,3.0,...,False,True,False,False,False,False,False,False,False,False
4,11950.0,11950.0,13.44,405.18,34000.0,10.20,0.0,690.0,694.0,0.0,...,False,False,False,False,False,False,False,False,False,False

In [20]:
df_encoded.dtypes.value_counts()

float64    74
bool       38
int64       1
Name: count, dtype: int64

In [24]:
# Convert all bool columns to int (0/1)
df_encoded = df_encoded.astype({col: 'int' for col in df_encoded.select_dtypes('bool').columns})

**Final Checks before pushing file to model**

In [25]:
df_encoded.dtypes.value_counts()

float64    74
int64      39
Name: count, dtype: int64

In [26]:
df_encoded.select_dtypes(include='object').columns.tolist()

[]

In [27]:
print("Final shape:", df_encoded.shape)
df_encoded.head()

Final shape: (1345350, 113)

,loan_amnt,funded_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,...,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,disbursement_method_DirectPay
0,3600.0,3600.0,13.99,123.03,55000.0,5.91,0.0,675.0,679.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,24700.0,24700.0,11.99,820.28,65000.0,16.06,1.0,715.0,719.0,4.0,...,0,0,0,0,0,0,1,0,0,0
2,20000.0,20000.0,10.78,432.66,63000.0,10.78,0.0,695.0,699.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,695.0,699.0,3.0,...,0,1,0,0,0,0,0,0,0,0
4,11950.0,11950.0,13.44,405.18,34000.0,10.20,0.0,690.0,694.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
df_encoded['loan_default'].value_counts(normalize=True)

loan_default
0    0.80035
1    0.19965
Name: proportion, dtype: float64

**Model-ready data saved.**

In [29]:
df_encoded.to_csv('/content/drive/MyDrive/Colab Notebooks/Finance Projects/AI-Driven-Credit-Risk-Prediction-and-Crisis-Resilience-Analysis/data/cleaned data/lendingclub_final_model_ready.csv', index=False)